body {
    background-image: url(notebook.jpg);
}

.page {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    font-size: 30px;
}

h1, h2 {
    font-size: 30px;
    font-weight: 400;
}

.text {
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    font-size: 30px;
    outline: none;
}

.hidden {
    display: none;
}

.prompt {
    font-size: 20px;
    font-weight: 600;
    color: red;
}

.tasks__box, .pinned__box {
    padding: 0;
}

.tasks__item:last-child {
    border: 1px solid black 
}

.tasks__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #fff;
    border-top: 1px;
    border-left: 1px;
    border-right: 1px;
    border-bottom: 0;
    border-color: black;
    border-style: solid;
    border-radius: 18px;
    box-sizing: border-box;
}

.tasks__name {
    max-width: 278px;
}

.button {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    outline: none;
}
