
.page {
    width: 100%;
    /* max-width: 400px; */
    padding: 20px;
    box-sizing: border-box;
    background-image: url('./img/notebook.jpg');
    font-family: Helvetica, sans-serif;
    font-size: 30px;
}

h1, h2 {
    font-size: 30px;
    font-weight: 400;
}

.text {
    /* box-sizing: border-box; */
    width: 100%;
    height: 50px;
    font-size: 30px;
    outline: none;
}

.hidden {
    display: none;
}

.prompt {
    font-size: 20px;
    font-weight: 600;
    color: red;
}

.tasks__box, .pinned__box {
    padding: 0;
}

.tasks__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* width: 100%; */
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 18px;
    box-sizing: border-box;
}

.tasks__name {
    height: 30px;
}


.button {
    width: 30px;
    height: 20px;
    border-radius: 20px;
    outline: none;
}